[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
termcolor = "*"
colorama = "*"
python-decouple = "*"
pandas = "*"
tqdm = "*"
tweepy = "*"

[requires]
python_version = "3.8"
